<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create car</title>
</head>
<body>
<h1>List Car</h1>
<button><a th:href="@{/cars/add-car}">Add car</a> </button>
<table border="1px">
  <tr>
    <td>#</td>
    <td>name</td>
    <td>details</td>
    <td>price</td>
    <td>manufacturer</td>
    <td>status</td>
    <td>action</td>
  </tr>
  <tr th:each="car, state : ${cars}">
    <td th:text="${state.count}"></td>
    <td th:text="${car.name}"></td>
    <td th:text="${car.details}"></td>
    <td th:text="${car.price}"></td>
    <td th:text="${car.manufacturer}"></td>
    <td th:text="${car.isStatus()}"></td>
    <td>
      <button><a th:href="@{'/cars/edit/' +${car.id}}">Edit</a> </button>
      <button>delete</button>
    </td>
  </tr>
</table>
</body>
</html>